table
{
    width: 70%;
    text-align: left;
    position: relative;
    left: 250px;
    border: 1px solid black;
}
th
{
    width: 400px;
    border-bottom: 1px solid black;
}
td
{
    border-bottom: 2px solid gray;
    height: 30px;
}